@import url(http://fonts.googleapis.com/css?family=Roboto);

$baseColor:      #dadbd2;
$chatColor:      #f7f7f7;
$headColor:      #ededed;
$darkBgColor:    #263238;
$lightBgColor:   #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;

body {
   height: 100%;
   // browsers default to 16px for font-size,
   // so setting top-level font-size to 62.5%
   // scales 1rem to equal 10px.
   font: 62.5% 'Roboto', sans-serif;
}

