<div class="group-login">
 <div class="header-login">
  <h1>Login</h1>
 </div>
 <div class="body-login">
  <form action="" class="form-login">
    <label for="user">Usuário</label>
    <input type="text">
    <label for="password">Senha</label>
    <input type="password">
    <span>OU</span>
    <hr>
    <label for="image">Imagem</label>
    <input type="file">
  </form>
 </div>
</div>
