@import '../common';

login{
  display: flex;
  justify-content: center; 
  align-items: center;
  max-width: 80%;
  width: 600px;
  .group-login {
    display: flex; 
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.42);
    .header-login {
      background-color: $headColor;
      padding: 20px;
      h1 {
        margin: 0;
        font-size: 30px;
      }
    }
    .body-login {
      background-color: $chatColor;
      padding: 15px;
      .form-login {
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        label {
          width: 100%; 
          text-align: left;
          font-size: 18px;
          color: gray;
          margin-bottom: 5px;
        }
        input {
          width: 100%;
          height: 20px;
          border-color: rgba($color: #000000, $alpha: 0.2);
          &:not(:last-child){
           margin-bottom: 15px;
          }
        }
       
      }
    }
  }
}